
@font-face {
    font-family: "MSungHK";
    font-path:"../fonts/MSungHK-Medium";
    src: url("../fonts/MSungHK-Medium.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: 400;
}
