@font-face {
    font-family: "MHeiHK";
    font-path:"../fonts/MHeiHK-Medium";
    src: url("../fonts/MHeiHK-Medium.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "MSungHK";
    font-path:"../fonts/MSungHK-Light";
    src: url("../fonts/MSungHK-Light.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: "MSungHK";
    font-path:"../fonts/MSungHK-Medium";
    src: url("../fonts/MSungHK-Medium.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Optima LT Std";
    font-path:"../fonts/optimaltstd-medium";
    src: url("../fonts/optimaltstd-medium.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: 400;
}

