@font-face {
    font-family: "MHeiHK-Medium";
    src: url("../fonts/MHeiHK-Medium.eot"); /* IE9 */
    src: url("../fonts/MHeiHK-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/MHeiHK-Medium.woff") format("woff"), /* chrome, firefox */
    url("../fonts/MHeiHK-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/MHeiHK-Medium.svg#MHeiHK-Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}