.page-index {
    min-height: rem(550px);
    text-align: center;
    
    background: url(../images/common/bg.jpg) repeat;
    
    color: #ff0000;
    
    &:before {
        content: "This is Home Page";
    }

    ul > li {
        margin: 1em 0;
    }

    a {
        color: blue;
        text-decoration: underline;
    }
}