<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index Page Sample</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="theme-color" content="#3B9FDD">
    <!--
    <link rel="shortcut icon" href="">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!--# include file="meta.shtml" -->
</head>

<body>
    <div class="wrap">
        <div class="container">
            <!--# include file="header.shtml" -->
            <main data-page="amd" class="page-amd clearfix">
                <div id="page_amd"></div>
                <article>
                    <h3>The Impossible Dream </h3>
                    <p>
                        To dream the impossible dream<br>

                        To fight the unbeatable foe<br>

                        To bear with unbearable sorrow<br>

                        To run where the brave dare not go.<br>

                        To right the unrightable wrong<br>

                        To love pure and chaste from afar<br>

                        To try when your arms are too weary<br>

                        To reach the unreachable star<br>

                        This is my quest, to follow that star,<br>

                        No matter how hopeless, no matter how far<br>

                        To fight for the right without question or pause<br>

                        To be willing to march into hell for a heavenly cause<br>

                        And I know if I'll only be true to this glorious quest<br>

                        That my heart will lie peaceful and calm when I'm laid to my rest<br>

                        And the world will be better for this<br>

                        That one man scorned and covered with scars<br>

                        Still strove with his last ounce of courage<br>

                        To reach the unreachable star
                    </p>
                </article>
                <!--# include file="other-links.shtml" -->
            </main>
            <!--# include file="footer.shtml" -->
        </div>
    </div>
</body>

</html>