<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index Page Sample</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="theme-color" content="#3B9FDD">
    <!--
    <link rel="shortcut icon" href="">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!--# include file="meta.shtml" -->
</head>

<body>
    <div class="wrap">
        <div class="container">
            <!--# include file="header.shtml" -->
            <main data-page="index" class="page-index">
                <article>
                    <h3>短歌行</h3>
                    <p class="author">
                        朝代：魏晉<br>
                        作者：曹操
                    </p>
                    <section>
                        <p>對酒當歌，人生幾何！<br class="mobile-view">譬如朝露，去日苦多。</p>
                        <p>慨當以慷，憂思難忘。<br class="mobile-view">何以解憂？唯有杜康。</p>
                        <p>青青子衿，悠悠我心。<br class="mobile-view">但爲君故，沉吟至今。</p>
                        <p>呦呦鹿鳴，食野之苹。<br class="mobile-view">我有嘉賓，鼓瑟吹笙。</p>
                        <p>明明如月，何時可掇？<br class="mobile-view">憂從中來，不可斷絕。</p>
                        <p>越陌度阡，枉用相存。<br class="mobile-view">契闊談宴，心念舊恩。</p>
                        <p>月明星稀，烏鵲南飛。<br class="mobile-view">繞樹三匝，何枝可依？</p>
                        <p>山不厭高，海不厭深。<br class="mobile-view">周公吐哺，天下歸心。</p>
                    </section>
                </article>

                <!--# include file="other-links.shtml" -->

            </main>
            <!--# include file="footer.shtml" -->
        </div>
    </div>
</body>

</html>