@font-face {
    font-family: "HanWangKaiMediumChuIn";
    src: url("WangHanZongZhongKaiTiZhuYin-1.eot"); /* IE9 */
    src: url("WangHanZongZhongKaiTiZhuYin-1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("WangHanZongZhongKaiTiZhuYin-1.woff") format("woff"), /* chrome, firefox */
    url("WangHanZongZhongKaiTiZhuYin-1.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("WangHanZongZhongKaiTiZhuYin-1.svg#HanWangKaiMediumChuIn") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


